---
const title = "Login";
import Layout from "../layouts/layout.astro";
import Card from "../components/card";
import Button from "../components/button.astro";
---

<Layout title={title}>
	<Card title={title}><Button id="login-discord-btn">Login with Discord</Button></Card>
</Layout>

<script>
	const CLIENT_ID = "1424790082690220052";
	const REDIRECT_PATH = "/callback";

	const existingSession = sessionStorage.getItem("ki-session");
	if (existingSession) {
		window.location.href = REDIRECT_PATH;
	}

	const loginButton = document.getElementById("login-discord-btn");
	if (loginButton) {
		loginButton.addEventListener("click", () => {
			console.log("Login button clicked");
			const params = new URLSearchParams({
				client_id: CLIENT_ID,
				redirect_uri: `${window.location.origin}${REDIRECT_PATH}`,
				response_type: "code",
				scope: "identify",
			});
			window.location.href = `https://discord.com/api/oauth2/authorize?${params.toString()}`;
		});
	}
</script>
